*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* body{
    background-color: rgb(187, 143, 143);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    width: 100%;
    height: 75px;
    align-items: center;
    background: brown;
}
.logo{
    font-size: 30px;
    letter-spacing: 1.5px;
    font-weight: bold;
    cursor: pointer;
    color:white;
    padding-left: 50px;
} 
 nav li{
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
}
a,button{
    font-size: 30px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
button{
    background: orange;
    border: 2px solid orange;
    border-radius: 50px;
    padding: 9px 25px;
}
nav li a:hover{
    color: green;
}  */