@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto&subset=cyrillic,cyrillic-ext');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightblue;
    display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
    width: 100%;
    max-width: 1000px;
  min-height: 1000px;
 
    background: white;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0px 35px 55px rgb(0,0,0,0.1);
    margin: 60px;
}
.left_side{
   position: relative;
    background: #003147;
    padding: 40px;
}


 .a{
    color: brown;
}
.d{
    color: white;
    border-bottom: 2px solid white;
}
.d span{
    color:blueviolet;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
}
.c{
    color:brown;
    
}
 span{
    color:blueviolet;
    font-size: 24px;
    font-weight: bold;
 
   
}
.s{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
 p{
    color: azure;
}
.b{
    border-bottom: 2px solid white;
   
}
.h{
    color:brown;
    
}
.H{
    border-bottom: 2px solid white;
}
.f li{
    color: white;
   
}
.l{
    color:brown;
}
.L li{
    color: white;
} 
.right_side{
    position: relative;
    background: white;
    padding: 40px;
    }
    .e{
        text-align: center;
       padding-bottom: 10px;
       padding-top: 30px;
        color: chocolate;
    }
    .right_side p{
        color: black;
    }
    .ED{
        padding-top: 30px;
        text-align: left;
        padding-bottom: 30px;
    }
    .ED h2{
        color:chocolate;
        text-align: left;
      
    }
    .ED P{
        color:  BLACK;
        font-size: 20px;
        font-weight: bold;
    }
     .M p{
        color: black;
        font-size: 15px;
        font-weight: bold;
     }
     .M span{
        color: black;
        font-size: 11px;
        font-weight: bold;
     }
     .ex h2{
        color: chocolate;
        padding-bottom: 20px;
     }
    .about h2{
        color: chocolate;
        text-align: left;
        padding-bottom: 30px;
    }
    .about{
        color: aqua;
        
    }
    .about h5{
        color: cornflowerblue;
        font-weight: bold;
        padding-top: 10px;
    }
    .about P{
        font-size: 11px;
        font-weight: bold;
        padding-top: 10px;
    }
    .abo h4{
        
        color: crimson;
    }




